/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.nav {
    padding: 0;
    text-align: center;
}
.nav li {
    display: inline;
    padding-right: 20px;
}

.nav li:last-child {
    margin-left: 500px;
}

.header a {
    color: white;
    text-decoration: none;
}

.flash-section {
    padding: 20px;
    background-color: palegreen;
    width: 800px;
    height: 20px;
    margin: 0 auto 0 auto;
    text-align: center;
    font-style: oblique;
}