body {
    padding: 0;
    background-color: whitesmoke;
    font-family: Garamond, serif;
    font-size: 16px;
}

.search {
    padding: 15px;
    width: 500px;
    margin: 0 auto;
    background: gainsboro;

}

.search input {
    display: inline;
    padding: 15px;
    width: 350px;
    margin: 0 auto;

}

.results {
    margin: 20px auto 0 auto;
}

th {
    border-bottom: 1px solid black;
}

td {
    border-bottom: 1px solid black;
    padding: 10px;
}